@import "http://webfonts.ru/import/jura.css";
@import url(http://fonts.googleapis.com/css?family=Philosopher&subset=latin,cyrillic);
/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	overflow-y: scroll; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	background: #fff;
	color: #000;
	text-align: left;
	font: 14px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; /* используем безопасные шрифтовые CSS стеки */
}
input, select, button, textarea {
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; /* чтобы шрифт был такой же как и везде */
}


/* --------------- /базовые настройки ---------*/


@font-face {
    font-family: 'philosopherregular';
    src: url('philosopher-regular-webfont.eot');
    src: url('philosopher-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('philosopher-regular-webfont.woff') format('woff'),
         url('philosopher-regular-webfont.ttf') format('truetype'),
         url('philosopher-regular-webfont.svg#philosopherregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Museo-500';
    src: url('../webfonts/eot/museo500.eot');
    src: url('../webfonts/woff/museo500.woff') format('woff'), url('../webfonts/ttf/museo500.ttf') format('truetype'), url('../webfonts/museo500.svg#Museo-500') format('svg');
}
@font-face {
    font-family: 'MuseoSans-500';
    src: url('../webfonts/eot/museosans500.eot');
    src: url('../webfonts/woff/museosans500.woff') format('woff'), url('../webfonts/ttf/museosans500.ttf') format('truetype'), url('../webfonts/museosans500.svg#MuseoSans-500') format('svg');
}
/* Clarendon-Light webfont (new-bulletproof) */
@font-face {
    font-family: 'Clarendon-Light';
    src: url('Clarendon-Light.eot?#iefix') format('embedded-opentype'), url('Clarendon-Light.woff') format('woff'), url('Clarendon-Light.ttf')  format('truetype'), url('Clarendon-Light.svg#webfont') format('svg');
}

.logo { margin: 69px 0 0 0px }
.intro {
    font-family: 'Clarendon-Light' ,Philosopher, sans-serif;;
    font-size: 130px;
    margin: 35px 0 60px 60px;
    letter-spacing: 1px;
    line-height: 1.2em;
}
.header-line{
	margin:0 0 0 0;
	background-image: url('../img/header-line.png');
	height: 15px;
}   
.footer-line{
	margin:30px 0 0 0;
	background-image: url('../img/header-line.png');
	height: 15px;
}   

body {
    margin: 0;
    background-image: url(../img/bg.png);
    background-color: #fff;
    font: 16px/26px "Candara",Helvetica,Arial,sans-serif;
    line-height: 1.5;
}
.column {
    background: url('../img/verticle-line.png') repeat-y center top;
    height: 350px;
    }
.columndva {
    background: url('../img/verticle-line.png') repeat-y center top;
    height: 300px;    
}
.columntri {background: url('../img/verticle-line.png') repeat-y center top;
    height: 120px;
    margin: 30px 0 0 20px;  }
.horizontal-line-full {
    background-image: url('../img/horizontal-line.png');
    width: 960px;
    height: 2px;
    margin: 0 0 25px;
}
h2 { font-family: 'jurademibold',Helvetica,Arial,sans-serif;
font-size: 130px; 
}	
h3 { font-family: 'jurademibold',Helvetica,Arial,sans-serif;
font-size: 26px; 
margin:0 0 20px o;
}
a{color: black;}
.projects{text-align: center;
	margin: 35px 0 0 0;
	 line-height: 1.5;
	  font: 16px/26px "Candara",Helvetica,Arial,sans-serif;
}
.opisanie {margin: 50px 0 40px 0;}
.sites {
	font-family: 'jurademibold';
	text-align: center;
	font-size: 22px;
}
#my_projects {
font-family: 'foglihtenno06';
    overflow: hidden;
    width: 960px;
    margin: 0 0 0 45px;
}
#my_projects p a {
    text-align:center;
    color: #e35e35;
    margin: 0 0 0 15px;
    padding: 6px 12px;
    background: #fff;
    border: 1px solid #ffbca4;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
#my_projects p a:hover { padding: 6px 18px }
#my_projects p a:active {
    color: #fff;
    background: #e35e35;
}
#my_projects li a {
    display: block;
    width: 140px;
    height: 140px;
}
<<<<<<< HEAD
#my_projects li {
    float:none;
    display: inline;
    margin: 20px;
}
=======

>>>>>>> v2

#my_projects li {
    float: left;
    display: inline;
    margin: 20px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    -webkit-transition: -webkit-border-radius 0.20s linear;
    -moz-transition: -moz-border-radius 0.20s linear;
    -o-transition: all 0.20s linear;
    transition: border-radius 0.20s linear;
}

.item1 { background: url('../img/portfolio_item1.jpeg') 0 140px }
.item2 { background: url('../img/portfolio_item2.jpeg') 0 140px }
.item3 { background: url('../img/portfolio_item3.jpeg') 0 140px }
.item4 { background: url('../img/portfolio_item4.jpeg') 0 140px }
#my_projects li:hover {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-position: 0 0; 
   
}
footer {
    width: 960px;
    margin: 0 0 0 0;
    padding: 0 0 30px 0;
    text-align: center;
}
.contacts{text-align: right;
    color: #454545;
    font-size: 20px;
    line-height: 1.5;
    margin: 40px 0 0 0;
    font: "Candara",Helvetica,Arial,sans-serif;
}
.procrastination {text-align: left;
    color: #454545;
    font-size: 20px;
    line-height: 1.5;
    margin: 40px 0 0 10px;
    font: "Candara",Helvetica,Arial,sans-serif;
}

footer a {
    display: inline;
    color: #454545;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
footer a:hover {
    padding: 7px 10px;
    color: #454545;
    background: #ffff99;
}
footer a:active {
    color: #fff;
    background: #454545;
}
footer h3 {
    font-family: 'jurademibold',Helvetica,Arial,sans-serif;
    font-size: 26px;
    margin: 30px 0 0 0;
    text-align: center;
}
ul.example {
    margin: 0.5em 0;
    padding: 0 0 0 2em;
}
ul.example li {
    margin: 0.5em 0;
    padding: 0 0 0 20px;
    list-style-type: none;
    background: url('../img/li.gif') no-repeat 0 0.6em;
}
