.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
/*------------------------------MIXINS-------------------------------*/
.PTSANS18px { font: 18px PTSansRegular;}
.PTSANS14px { font: 14px PTSansRegular;
              color: #666;
}
.PTSANSBOLD14px { font: 14px PTSansBold;
                  color: #000;
}
.abs        { position: absolute;
              margin-left: -40px;
              margin-top: -115px;
              padding: 3px 10px 3px;
              font: 14px PTSansItalic;
              color: #FFF;
}
.logotype   { float:left;
              margin-top: 10px;
              margin-left: 12px;
              text-transform: uppercase;
              font: 20px PTSansBold;
}
.copy       { border-top: 1px solid #9a9a9a;
              padding-top: 20px;
              width: 800px;
              margin: 80px auto;
              font: 12px PTSansRegular;
              color: #666666;
}

/*___________________________________________________________________*/
a:link      { color: #000;}
a:visited   { color: #000;}
body{
	background: url(../img/background.gif) repeat;
    width: 100%;  
}
.topmenu    { border-top: 7px solid #000;
    .logo   { .logotype; 
    }
    .login  { float: right;
              margin-top: 15px;
              margin-right: 12px;
        a   { .PTSANS14px;
              text-decoration: none;
              border-bottom: 1.5px dotted #000080;   
        }
    }
}
.navboard   {
    h1      { margin-top: 80px;
	          text-align:center;
	          font: 72px PTSerifBold;
    }   
    ul      { margin-top: -40px;
              margin-bottom: 125px;
              text-align: center;
              padding-right:39px;
        li  { .PTSANS18px;
              display: inline;    
        }
    }
}
.post      { width: 800px;
             margin:0 auto 70px;
 .photo    { float:left; 
             margin-top: 18px;
   .abs-1  { background-color: #ff6666;
             .abs;
   }
   .abs-2  { background-color: #99cc66;
             .abs;
   }
   .abs-3  { background-color: #6699cc;
             .abs;
   }
 }
}
.newslist { .PTSANS14px;
            float: right;
            width: 600px;
            color: #000;
  .title  { .PTSANS18px;}
}
 
.copyright  { .copy;}
.popup      { position: relative;}              
.enter {
     .name  { .PTSANS14px;
              margin:40px 0 20px 75px;
              width: 250px;
     }
     .parole{ .PTSANS14px;
              margin-left: 75px; 
              width: 250px;
     }
     .send  { font: 18px PTSansRegular;
              text-transform: uppercase;
              margin: 20px 15px 0 75px;
              background: ##99cc66;
              .gradient(~"linear-gradient(#99cc66, #99cc66)"); 
              padding: 5px 15px 5px 15px;
              border-radius: 7px;
              -webkit-border-radius: 7px;
     &:hover{ background: #bdcab0;
              .gradient(~"linear-gradient(top, #bdcab0, #bdcab0)"); 
     }
     }
    }       

/*_-_-_-_-_-_-_-_-_-_-_-_-_Media Queries to First Page-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
@media screen and (max-width: 880px) {
    .post .photo .abs-1, 
    .post .photo .abs-2,
    .post .photo .abs-3 {
        margin-left: 10px;
    }
    .copyright  {
         width: 80%;
    }
}
@media screen and (max-width: 640px) and (min-width: 450px)  {
    body {
        width: 100%;
    }
    .post {
        width: 87.5%;
        margin: 0;
        margin-left: 40px;
    }
    .copyright  {
         width: 80%;
    }
    .post .photo .abs-1, 
    .post .photo .abs-2,
    .post .photo .abs-3 {
        margin-left: 140px;
    }
    .newslist {
        width: 100%;
        float: left;
        position: relative;
        // min-height: 130px;
        margin-top: 0;
    }
    .newslist .title {
        position: absolute;
        // bottom:140px;
        top:-80px;
        left: 200px;

    }
}
* {
  -webkit-transition: all 0.4s ease, margin-left 0.9s ease;
}
/*_-_-_-_-_-_-_-_-_-_-_-_-_SECOND_PAGE-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
.head           {
    .logo       { .logotype;}
    .category   { .PTSANS14px;
                  margin: 15px 0 0 1px;
                  text-align: center;
        li      { display: inline;
                  margin: 0 18px 0 0;
            a   { color: #036;}
            &:first-child a { .PTSANSBOLD14px;
                              text-decoration: none;             
            }
        }
    }
    .profile    { position: absolute;
                  right: 15px;
                  top: 5px;
                  border-radius: 10px;
                  .box-shadow (2px 5px 5px 1px  #999);
                  .gradient(~"linear-gradient(#ffffff 0%, #f9f9f9 21%, #e0e0e0 79%, #e0e0e0 100%)"); 
                  z-index: 1;  
      h4        { padding: 5px 10px 5px 20px;
                  margin: 0;
                  font:16px PTSansRegular;
      }
      .arrow    { content: "";
                  width: 0;
                  height: 0;
                  position: absolute;
                  right: 60px;
                  top: -3px;
                  border-width: 6px 6px 0 6px;
                  border-style: solid;
                  border-color: grey transparent;  
                  z-index: 2;
      }
      .user-menu{ display: none;
                  padding-left: 10px;
        li      { display: block;
                  margin-bottom: 7px;
            a   { .PTSANS14px;}
        }
      }
      &:hover  .user-menu { display: block;}
      &:active  .user-menu { display: block;}
    }
}
.content        { width: 800px;
                  margin: auto;
                  margin-top: 100px;
                  border-bottom: 4px solid #999999;
    .note       { display: inline-block;
                  width: 180px;
                  float: left;
                  margin-top: 150px;
                  color: #666;
                  font: 10px Verdana;
                  line-height: 15px;
    }
    .news       { .PTSANS14px;
                  display: inline-block;
                  width: 600px;
                  float: right;
                  color: #333;
                  margin-bottom: 85px;
        h2      { font:24px PTSerifBold;}
        h2+p    { margin-top:75px; }
    }
}
.similar_news   { width: 800px;
                  margin:10px auto;
                  position: relative;
  h2            { .PTSANSBOLD14px;
                  position: absolute;
                  top: 5px;
                  width: 125px;
                  text-align: left;
                  margin: 0;
  }
  .list_of_similar_news { float: right;
    p           { font: 12px PTSansRegular;
                  color: #999;
    }
    li          { display: inline;
                  width: 190px;
                  float: left;
                  margin-left: 20px;
      h3        { .PTSANS14px;
                  text-align: left;
                  margin-top: 5px;
      }
    }
  }
} 
/*_-_-_-_-_-_-_-_-_-_-_-_-_Media Queries to Second Page-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
@media screen and (max-width: 790px) {
    .head .category {
        position: absolute;
        width: 400px;
        left:50%;
        margin: 50px 0 0 -200px;
        font: 18px PTSansRegular;
    }
    .head .category ul {
        padding-left: 0px;
    }
    .head .category li {
        margin-right: 5px;
    }
    .head .profile .user-menu {
        margin: 0;
    }
    .content {
        width: 100%;
        margin-top: 40px;
    }
    .content .note {
        display: none;
    }
    .content .news {
        width: 90%;
        margin: 20px 20px 85px 20px;
    }
    .similar_news {
        position: relative;
        width: 100%; 
        margin-top: 50px;

    }
    .similar_news .list_of_similar_news {
        float: none;
        margin: 0 auto 0;
        
    }
    
    .similar_news h2 {
        // position: static;
        // font: 20px PTSansBold;
        // width: 250px;
        // margin: 0 auto 10px;
        position: absolute;
        top: -40px;
        width: 250px;
        left:50%;
        margin: 0 0 0 -125px;
        font: 20px PTSansBold;
    }
}
@media screen and (max-width: 635px) and (min-width: 400px)  {
    .similar_news .list_of_similar_news li {
        float: none;
        display: block;
        width: 400px;
        margin: 0 auto 0;
    }
    .list_of_similar_news img {
        width: 400px;
    }
}
.blur {
    -webkit-filter: blur(4px);
}
